<div class="row">
        <div class="span7">
          <h2>Social Events</h2>
          <h4>Yellow Duckmarine Sunday <br>
          <small><i class="icon-calendar"></i> 18th November 2012 - 11.30am – Albert Dock, Liverpool.</small></h4>
          <p>All aboard for an exclusive tour of Liverpool’s historic sights and
          Docks on a World War II  amphibious landing craft. The tour, including
          ‘splash down’ into the Albert Dock takes approximately 1 hour with
          live commentary throughout. Adults £10, Children (15 and under) £8.</p>
          <br>

          <h4>Getting Nailed <br> 
          <small><i class="icon-calendar"></i> Wednesday 23rd January 2013 5.00pm – 8pm</small></h4>

          <p>Exclusive beauty consultants, Caroline & Co in Allport Road,
          Bromborough are hosting a Nails Evening exclusively for the Oval Ski
          Club. Tickets are £10 which will include a choice of either hands or
          feet treatment, wine/soft drinks & nibbles. Don't worry if you can't
          make it at 5.00, just turn up when you can.</p>
          <br>

          <h4>Club Holiday<br>
          <small><i class="icon-calendar"></i> St.Christoph/St.Anton, Austria Saturday 23rd March - 30th March 2013</small></h4>
          <p>Each season the club organises a holiday to one of the popular resorts in Europe. The holiday is arranged over the Easter break making it available to all club members. The group size varies each year, based on flight availability and what the demand is expected to be, and can be anything from 50 - 100 people. For further details or to book a place please speak to Andy Kearney. He'e down at most of the club sessions Saturday and Sunday or can be contacted on 0785 566 2891.</p>
          <br>

          <h4>Brewery Tour <br>
          <small><i class="icon-calendar"></i> Friday 26th April 2013 - 7.00pm- 10.30pm</small></h4>

          <p>Have you ever wondered how your beer was produced ? Then come along
          and enjoy a tour of the Peerless brewery, 8 Pool Street, Birkenhead.
          In addition to a tour of the brewery, all the different beers can be
          ‘sampled’. You even get to go behind the bar and pull your own pint!
          The cost is just £20 per head including unlimited beer/lager and
          dinner.</p>
          <br>

          <h4>Walk to Hilbre Island <br>
          <small><i class="icon-calendar"></i> Sat 14th July, 1.30pm</small></h4>

          <p>Starting at Dee Lane Slipway, West Kirby (nr Morrison's car park)
          The walk to Hilbre Island is 2 miles each way and we will be crossing over at low tide however sensible clothing and footwear is recommended. All are welcome including non members.</p>
          <br>

          <h4>Club AGM<br>
          <small><i class="icon-calendar"></i> Oval Sports Centre - Sunday 15th July, at 5.00pm</small></h4>

          <p>Would you like your say on how your ski club is run; have you any suggestions or questions relating to the skiing sessions, training, teaching, holidays, racing or social events? Well this is your big chance. The Oval Ski Club's AGM is taking place on the 15th July at the Oval Sports Centre Meeting room (within the sports centre) at 5pm.</p>

          <hr>
          <p>For more information of any of the above you can <a href="joinus.html">contact us</a>.</p>

        </div>

        <div class="span5">
          <h2>Club Sessions Diary</h2>
          <p>
            <h5>Saturday 13/10/2012 <br>
            <small><i class="icon-calendar"></i> 10:00am - 2:00pm</small></h5>
            <p>Junior Club for under 11's. New beginners lessons start
            Junior beginners under 11yrs & Junior Club for 11+. New beginners lessons start</p>
            <br>

            <h5>Saturday 13/10/2012 <br>
            <small><i class="icon-calendar"></i> 11:00am - 3:00pm</small></h5>
            <p>Adult beginners lessons start. Junior beginners under 11yrs & Junior Club for 11+.</p>
            <br>

            <h5>Saturday 13/10/2012 <br>
            <small><i class="icon-calendar"></i> 12:00am - 4:00pm</small></h5>
            <p>Junior Club for under 11's. Junior Club for 11+.</p>
            <br>

            <h5>Saturday 13/10/2012 <br>
            <small>10:00am - 11:00am</small></h5>
            <p>Junior Club for under 11's. New beginners lessons start
            Junior beginners under 11yrs & Junior Club for 11+. New beginners lessons start</p>
            <br>

            <h5>Saturday 13/10/2012 <br>
            <small>10:00am - 11:00am</small></h5>
            <p>Junior Club for under 11's. Junior Club for 11+.</p>
            <br>

          <p><a class="btn" href="joinus.html">RSVP &raquo;</a></p>
       </div>

      </div>